
.cards{
  background-color: white;
  width: 110px;
  height: 130px;
  background-color: white;
  box-shadow: 0 8px 6px rgba(0,0,0,0.20) ;

}
.card{
  margin-top: 60px;
  border-radius: 10px;
  background-color: white;

}
.contacts img{
  padding-top: 30px;
  width: 30%;
  height: 30%;
  margin-left: 30px;
  margin-right: 30px;
}
.contacts h4{
  font-size: 20px;
  margin-top:10px;
  margin-bottom: 5px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color:black;
}
.contacts a{
  font-size: 15px;
  margin-top: 75px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color:black;
}
.dinamic{
  padding-top: 60px;
  padding-bottom: -25px;
}
.main-container{
  min-height: 100vh;
}
.main-header{
  background-color: white;
  padding-left:10px;
  padding-right:10px;
  padding-top: 0px;
  padding-bottom:0px;
  align: right;
  margin-top: 20px;
}
.main-nav a{

  text-decoration: none;
  width: 5%;
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
}
.main-nav h2{
  font-size: 25px;
  color: black;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 0px;
  font-family: Caveat;
}
.montserrat{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  margin-top: 60PX;
  margin-bottom:30px;
  margin-left: 20px;
  padding-left: 30px;
  padding-right:30px;
  padding-bottom: 40px;
  background-color: white;
  color:black;
}
.nav-link{
  height:80px;;
  padding-left:10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  align:center;
}
.pictures{
  height:550px;
  background-color: white;
  padding-bottom:0px;
  padding-right: 30px;
}
.pictures-manga{
  width: 90%;
  margin-top: 60PX;
  margin-bottom: -70px;
}
.pictures-variado{
  height: 450px;
  margin-top: 20px;
  margin-bottom: -450px;
  align: center;
}
.title{
  font-size: 1,5em;
  margin-right: 0px;
  margin-top: 400px;
  padding-left: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Montserrat', sans-serif;
}
.color-title{
  color:black;
}
.services img{
  width: 250px;
}
.services h3{
  font-size: 1.5em;
  margin-right: auto;
  margin-top:auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 150px;
  padding-bottom: 0px;
  font-family: 'Montserrat', sans-serif;
  color:black;
  text-align: center;

}
.services h4{
  font-size: 18px;
  margin-top:60px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color:#606163;
}
.size-img{
  height:50px;
}
.text-center{
  text-align: center;
  padding-left:100px;
  padding-right:100px;
}







.slider{
  width: 85%;
  margin: auto;
  overflow: hidden;
  margin-left: auto;
  margin-top: auto;
}
.slider ul{
  display: flex;
  padding: 0px;
  width: 700%;

  animation: cambio 50s infinite;
}
.slider li{
  width: 100%;
  list-style: none;
}
.slider img{
  width: 100%;
}

@keyframes cambio {
  0% {margin-left: 0;}
  10% {margin-left: 0;}

  14% {margin-left: -100%;}
  24% {margin-left: -100%;}

  28% {margin-left: -200%;}
  38% {margin-left: -200%;}

  42% {margin-left: -300%;}
  52% {margin-left: -300%;}

  56% {margin-left: -400%;}
  66% {margin-left: -400%;}

  70% {margin-left: -500%;}
  80% {margin-left: -500%;}

  84% {margin-left: -600%;}
  94% {margin-left: -600%;}

  99% {margin-left: -600%;}
  100% {margin-left: 0;}
}








 .loop{
   width: 700px;
   margin: auto;
   overflow: hidden;
   margin-left: auto;
   margin-top: 30px;
 }
 .loop ul{
   display: flex;
   padding: 0px;
   width: 200%;

   animation: siguente 10s infinite;
   animation-direction: alternate-reverse;
 }
 .loop li{
   width: 100%;
   list-style: none;
 }
 .loop img{
   width: 100%;
 }

 @keyframes siguente {
   0% {margin-left: 0;}
   45% {margin-left: 0;}

   50% {margin-left: -100%;}
   100% {margin-left: -100%;}

 }
  .text h3{
    font-size: 1.5em;
    margin-right: auto;
    margin-top:auto;
    padding-left: auto;
    padding-top: 50px;
    padding-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    color:black;
    text-align: center;
  }
  .text h4{
    font-size:15px;
    margin-top:10px;
    margin-bottom: 5px;
    margin-left: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:black;

  }
